<%@ Master Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="EnglishPages.Master.cs" Inherits="ASP.NET_NestedMasterPages.English.Home" %>

<asp:Content ContentPlaceHolderID="MainContent" runat="server">
    
    <asp:ContentPlaceHolder ID="AboutTheCompanyContentPlaceHolder" runat="server">
        
    </asp:ContentPlaceHolder>

    <asp:ContentPlaceHolder ID="Contacts" runat="server">

    </asp:ContentPlaceHolder>

</asp:Content>
